@font-face {
  font-family: "Fira Sans";
  src: url(font/FiraSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Fira Sans";
  src: url(font/FiraSans-Bold.ttf);
  font-weight: 700;
}

body {
  font-family: "Fira Sans";
  font-size: 18px;
  max-width: 728px;
  margin: 0 auto;
  padding: 20px;
}

a {
  color: rgb(26, 127, 182);
  text-decoration: none;
  border-bottom: 1px solid rgba(26, 127, 182, 0.3);
  transition-property: color, background-color;
  transition-timing-function: ease-out;
  transition-duration: 0.33s;
}

a:hover {
  color: rgb(90, 149, 60);
  border-bottom-color: rgb(90, 149, 60);
  transition: none;
}

h1 {
  font-size: 48px;
  margin: 0 0 20px;
}

#task-form {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

#task-form input {
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 11px 10px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

#task-form .button {
  margin: 0 10px;
}

.button {
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
}

#tasks {
  margin-bottom: 40px;
}

.task {
  display: flex;
  justify-content: space-between;
  min-height: 44px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.task input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  min-width: 24px;
  width: 24px;
  height: 24px;
  background-image: url(img/square.svg);
  cursor: pointer;
}

.task input[type="checkbox"]:checked {
  background-image: url(img/check-square.svg);
  background-color: transparent;
}

.task input[type="checkbox"]:checked + textarea {
  text-decoration: line-through;
}

.task textarea {
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
  width: 100%;
  height: 24px;
  min-height: 24px;
  margin-left: 5px;
  padding: 0 5px;
  border: none;
  line-height: 24px;
}

.task textarea:focus {
  text-decoration: none !important;
  outline: 1px solid #aaa;
  border-radius: 5px;
}

.task .buttons {
  display: flex;
}

.task .button {
  margin-left: 12px;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 40px;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 44px;
  }

  .task textarea {
    padding-left: 3px;
    margin-left: 3px;
  }

  footer {
    display: block;
  }

  footer span {
    display: block;
  }

  footer span:first-child {
    margin-bottom: 20px;
  }
}
